*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
/* End Css Reset  */

body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
  background-size: 16px 16px;
}
.light-control {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 2rem;
}
.lights-label {
  width: 4.2rem;
  height: 2.2rem;
  padding: 0.3rem 0.4rem;
  background-color: #000;
  border-radius: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}
.lights-label::after {
  content: "";
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: #fff;
}
.lights-input {
  display: none;
}
.lights-input:checked + .lights-label {
  background-color: white;
}
.lights-input:checked + .lights-label::after {
  background-color: green;
  transform: translateX(2.1rem);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 35rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.lights {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 5.5rem;
  z-index: 3;
  transition: all 0.3s;
}
.bulb-odd {
  animation: party 0.5s infinite alternate;
}
.bulb-even {
  animation: party 0.5s infinite alternate-reverse;
}
@keyframes party {
  from {
    fill: #ff0000;
  }
  to {
    fill: #fff500;
  }
}
.container:has(.lights-input:checked) .lights {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}
.top {
  height: 10rem;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 16px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
}
.middle {
  margin: 0 auto;
  text-align: center;
  margin-top: -6rem;
  z-index: 1;
}
.pic {
  border: 0.4rem solid #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.title {
  font-size: 2.2rem;
}
.profession {
  font-size: 1.6rem;
}
.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 1px solid #c4c4c4;
}
.column {
  flex: 1;
  padding: 1.8rem 1.5rem;
  text-align: center;
}

.column:nth-child(2) {
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}
.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
